<!-- <div class = "container">
  <form class="form-group">
    <label for ="title">Title</label>
    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [ngModel] = "title1">
    <br>

    <label for ="description">Description</label>
    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [ngModel] = "description1">
    <br>

    <label for ="title">Title</label>
    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [ngModel] = "title1">
    <br>

    <label for ="title">Title</label>
    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [ngModel] = "title1">
    <br>

  </form>
</div> -->
